.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.main-Data{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.main-data-brand-model{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.main-img{
    width: 100px;

}
.main-img img{
width: 100%;
}

.main-Data-km{
    display: flex;
    width: 100%;
    justify-content: space-around;
}