#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: 
    rgb(86, 235, 106);
    list-style-type: none;

}

#menu li a {
    text-decoration: none;
}

.active{
    color: red;
    font-weight: bold;
}