.movie-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 20px;
}

.movie-form input{
    width: 80%;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(206, 250, 206);
    text-align: center;
}